<h1>Palautetta Henrille</h1>

<p>
Arvostan suuresti palautettasi tekemästäni työstä.<br/>
Pyydän sinua vastaamaan alla olevaan kolmeen kysymykseen.<br/>
t: Henri
</p>
<hr/>

<div class="error"><%= flash[:error] %></div>

<%= form_for [@project, @answer] do |f| %>
  <%= f.hidden_field :project_id %>
  <div class="question">
    1. <%= f.label :role_id, 'Palautteen antajan rooli' %><br/>
    <% @roles.each do |role| %>
      <%= f.radio_button :role_id, role.id %><%= role.name %>
    <% end %>
  </div>
  <div class="question">
    2. <%= f.label :score, 'Kuinka todennäköisesti suosittelisit minua kollegallesi johonkin toiseen projektiin?' %><br/>
    <% 0.upto(10) do |i| %>
      <%= f.radio_button :score, i %><%= i %>
    <% end %>
  </div>
  <div class="question">
    3. <%= f.label :comment, 'Jos annoit vähemmän kuin 10, mitä minun kannattaisi parantaa työssäni?' %><br/>
    <%= f.text_area :comment, :rows => 10, :cols => 50 %>
  </div>
  <%= submit_tag 'Lähetä palaute' %>
<% end %>
