<h1>Palautetta Henrille</h1>

<p>
Arvostan suuresti palautettasi tekemästäni työstä. Pyydän sinua vastaamaan alla olevaan kolmeen kysymykseen.
t: Henri
</p>

<div class="error"><%= flash[:error] %></div>

<%= form_for [@project, @answer] do |f| %>
  <%= f.hidden_field :project_id %>
  <div class="question">
    1. <%= f.label :status_id, 'Asema' %><br/>
    <% @statuses.each do |status| %>
      <%= f.radio_button :status_id, status.id %><%=status.name%>
    <% end %>
  </div>
  <div class="question">
    2. <%= f.label :score, 'Kuinka todennäköisesti suosittelisit minua kollegallesi johonkin toiseen projektiin?' %><br/>
    <% 0.upto(10) do |i| %>
      <%= f.radio_button :score, i %><%= i %>
    <% end %>
  </div>
  <div class="question">
    3. <%= f.label :comment, 'Vapaa palaute (ei pakollinen)' %><br/>
    <%= f.text_area :comment, :rows => 10, :cols => 50 %>
  </div>
  <%= submit_tag 'Lähetä palaute' %>
<% end %>