<h1>Palautetta Henrille</h1>

<p>
Arvostan suuresti palautettasi tekemästäni työstä.<br/>
Pyydän sinua vastaamaan alla olevaan kolmeen kysymykseen.<br/>
t: Henri
</p>
<hr/>

<div class="error"><%= flash[:error] %></div>

<%= form_for [@project, @answer] do |f| %>
  <%= f.hidden_field :project_id %>
  <% roles = @project.roles %>
  <% if roles.count == 1 %>
    <%= f.hidden_field :role_id, value: roles.first.id %>
  <% elsif roles.count == 0 %>
    <% raise "No roles for the project!" %>
  <% else %>
    <div class="question">
      <%= f.label :role_id, 'Palautteen antajan rooli' %><br/>
      <% @project.roles.each do |role| %>
        <%= f.radio_button :role_id, role.id %><%= role.name %>
      <% end %>
    </div>
  <% end %>
  <div class="question">
    <%= f.label :score, 'Kuinka todennäköisesti suosittelisit minua kollegallesi johonkin toiseen projektiin?' %><br/>
    <% 0.upto(10) do |i| %>
      <%= f.radio_button :score, i %><%= i %>
    <% end %>
  </div>
  <div class="question">
    <%= f.label :comment, 'Jos annoit vähemmän kuin 10, mitä minun kannattaisi parantaa työssäni?' %><br/>
    <%= f.text_area :comment, :rows => 10, :cols => 50 %>
  </div>
  <%= submit_tag 'Lähetä palaute' %>
<% end %>
