<h1>Projekti: <%= @project.key %></h1>
<input type="text" value="<%= new_project_answer_url(@project) %>" size="100"/>
<h2>Vastaukset</h2>
<ul>
  <% @project.answers.order('created_at asc').each do |answer| %>
    <li><%= answer.score %> (<%= answer.role.name %>, <%= answer.created_at.strftime('%d.%m.%Y %H:%M:%S') %>)</li>
    <% unless answer.comment.blank? %>
      <ul>
        <li><%= answer.comment %></li>
      </ul>
    <% end %>
  <% end %>
</ul>
<h2>Net promoter score</h2>
<table>
  <tr>
    <% unless @project.roles.count == 1 %>
      <th>Rooli</th>
    <% end %>
    <th>Kpl</th>
    <th>Net promoter score</th>
  </tr>
  <tr>
    <% unless @project.roles.count == 1 %>
      <td>Kaikki</td>
    <% end %>
    <td class="center"><%= @project.answers.count %></td>
    <td class="center"><%= @project.net_promoter_score.to_i %></td>
  </tr>
<% unless @project.roles.count == 1 %>
  <% Role.all.each do |role| %>
    <tr>
      <td><%= role.name %></td>
      <td class="center"><%= @project.answers.where(role: role).count %></td>
      <td class="center"><%= @project.net_promoter_score(role.id).to_i %></td>
    </tr>
  <% end %>
<% end %>
</table>
