<h1>Projekti: <%= @project.key %></h1>
<input type="text" value="<%= new_project_answer_url(@project) %>" size="100"/>
<h2>Vastaukset</h2>
<ul>
  <% @project.answers.each do |answer| %>
    <li><%= answer.score %> (<%= answer.role.name %>)</li>
    <% unless answer.comment.blank? %>
      <ul>
        <li><%= answer.comment %></li>
      </ul>
    <% end %>
  <% end %>
</ul>
<h2>Net promoter score</h2>
<table>
  <tr>
    <td>Kaikki</td>
    <td><%= @project.net_promoter_score.to_i %></td>
  </tr>
<% Role.all.each do |role| %>
  <tr>
    <td><%= role.name %></td>
    <td><%= @project.net_promoter_score(role.id).to_i %></td>
  </tr>
<% end %>
</table>
